
/*Selector Universal*/
*{

    padding: 0 auto;
    margin: 0 auto;
}
/*secto ID */
#contenedor {
    width: 1200px;
    height: 1000px;
    background-color: rgb(158, 59, 250);
}
#encabezado{
    height: 10%;
     background-color: orange;
     margin: 0em;
     text-align: center;
}
#menu{
    height: 5%;
    background-color: orchid;
    margin: 1em auto;
}
#contenido{
    height: 75%;
    width: 67%;
    background-color: rgb(194, 163, 224);
    margin: 0,5 em;
    float: left;
}
#fueraseccion{
    height: 75%;
    width: 30%;
    background-color: aliceblue;
    margin: 0,5 em;
    float: right;
}
#pie{
    height: 5%;
    background-color: orangered;
    border-radius: 1em;
    margin: 1.5 em;
    width: 1200px;

}
    .texto{
        text-align: justify;
        font-family:tahoma;
        font-size:12;
        margin-right: 2em;
        margin-left: 1.5em;
        padding: top 10px;

    }
    .encabezado_articulo{
        text-align: center;
        background:rgb(36, 94, 255);
        color: white;
        margin: auto 1em;        
        color: white;
        margin: auto 1em;
    }
    .imagenes{
    
        display: block;
        border: 1px solid #ddd;
        margin-left: 4%;
        border-radius: 4px;
        width: 300px;
        align-items: center;
    
    }
    
    /* selector de etiqueta */
    
    ul{
        text-align: center;
    }
    
    li{
        display: inline;
        padding-left: 5%;
        padding-right: 10%;
        text-align: center;
        
    
    }
    